
<!--start navbar-->
<table>
<tr>
<td>
   <div class="container mt-5 pt-5">
    <a routerLink="/"><button type="button" class="btn ml-1">show all</button></a>
    <a routerLink="/patisserie"> <button type="button" class="btn ml-1">patisserie</button></a>
    <a routerLink="/cuisine"><button type="button" class="btn ml-1">cuisine</button></a>
    <a routerLink="/salade"><button type="button" class="btn ml-1">salade</button></a>
    </div>
</td>
<td>
    <div class="container mt-5 pt-5">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact
    </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         
          <a class="dropdown-item" routerLink="/login">login</a>
          <a class="dropdown-item" routerLink="/rigister">register</a>
        </div>
    </div>


</td>
</tr>
</table>
<!--end navbar-->