<div class="container">
    <div class="row">
        
            <div class="col-lg-4 col-md-4 col-xd-12"> 
                <img src="assets/cuis1.jpg" class="img-fluid img-responsive" alt="ph" >
                <h2>nugets</h2>
                <p class="text-justify">La pâtisserie désigne à la fois certaines préparations culinaires sucrées à base de pâte1, l'ensemble des opérations pour leur confection, la boutique où se vendent ces préparations faites par un pâtissier ou par l'industrie agroalimentaire, ainsi que cette même industrie de transformation et de commercialisation de ces produits : gâteaux et tartes notammen</p>
                

            </div>
            <div class="col-lg-4 col-md-4 col-xd-12"> 
            <img src="assets/cuis2.jpg" class="img-fluid img-responsive" alt="ph" >
            <h2>chicken</h2>
            <p class="text-justify">La pâtisserie désigne à la fois certaines préparations culinaires sucrées à base de pâte1, l'ensemble des opérations pour leur confection, la boutique où se vendent ces préparations faites par un pâtissier ou par l'industrie agroalimentaire, ainsi que cette même industrie de transformation et de commercialisation de ces produits : gâteaux et tartes notammen</p>
        </div>
            <div class="col-lg-4 col-md-4 col-xd-12"> 
                <img src="assets/cuis3.jpg" class="img-fluid img-responsive" alt="ph" >
                <h2>legume</h2>
                <p class="text-justify">La pâtisserie désigne à la fois certaines préparations culinaires sucrées à base de pâte1, l'ensemble des opérations pour leur confection, la boutique où se vendent ces préparations faites par un pâtissier ou par l'industrie agroalimentaire, ainsi que cette même industrie de transformation et de commercialisation de ces produits : gâteaux et tartes notammen</p>
            </div>
        </div>
    
</div>